akka {
    persistence {
        journal {
            plugin = "akka.persistence.journal.redis"
            redis {
                class = "Akka.Persistence.Redis.Journal.RedisJournal, Akka.Persistence.Redis"
                plugin-dispatcher = "akka.actor.default-dispatcher"
                configuration-string = "localhost:6379,ssl=false"
                
            }
        }
    
        snapshot-store {
            plugin = "akka.persistence.snapshot-store.redis"
            redis {
                class = "Akka.Persistence.Redis.Snapshot.RedisSnapshotStore, Akka.Persistence.Redis"
                plugin-dispatcher = "akka.actor.default-dispatcher"
                configuration-string = "localhost:6379,ssl=false"
                
            }
        }
    }
}